.container {
  height: 240px;
  width: 240px;
  padding: 8px;
  background-color: var(--neu-color, #dde1e7);
  box-shadow: -3px -3px 5px var(--neu-offset-one, #ffffff80),
    3px 3px 15px var(--neu-offset-two, #00000080);
  border-radius: 5%;
  overflow: scroll;
  margin: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.container {
  -ms-overflow-style: none;
}

.statsCount {
  color: var(--primary-text, #787878);
  font-weight: bold;
  font-size: 24px;
}

.statsHead {
  color: var(--primary-text, #787878);
  font-weight: bold;
}

.countryName {
  color: var(--primary-text, #787878);
  margin: 0;
  font-size: 24px;
}
